<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>EBNJ - DASHBOARD</title>

  <!-- Custom fonts for this template-->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="css/sb-admin-2.min.css" rel="stylesheet">

  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <!-- Bootstrap core JavaScript-->
  <script src="/vendor/jquery/jquery.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- JSONES CUTRES-->
    <script id="JSONData" type="application/json">{"infected":[0,55,120,1000,10000,7700,6895,8000,6000,5500,3000,1090],"susceptible":[2500,6500,4200,4000,3000,200,6895,0,6000,5500,3000,1090],
      "removed":[0,2,75,222,315,770,695,500,6000,5500,3000,1090],"circulo":[100,77,25],"regions":{"cat":{
        "population":{"x":[[4,5,6,7,1,2,3,4],[4,0,1,5,1,5,2,4]],
                      "y":[[0,8,0,8,0,5,1,2],[4,5,6,7,1,2,3,4]],   
                      "state":[[0,0,1,1],[]]}}}}</script>
  <script>
    var json_aux={{ data_aux|safe }};
    console.log(json_aux);

  </script>                   
                      
        
</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">


    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Begin Page Content -->
        <div class="container-fluid" style="margin-top: 25px;">

          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
            <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
          </div>      

          <!-- Content Row -->

          <div class="row">

            <!-- Area Chart -->
            <div class="col-xl-8 col-lg-7">
              <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">New infected</h6>
                  <div class="dropdown no-arrow">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                      <div class="dropdown-header">Dropdown Header:</div>
                      <a class="dropdown-item" href="#">Action</a>
                      <a class="dropdown-item" href="#">Another action</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                  </div>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                  <div class="chart-area">
                    <canvas id="myAreaChart"></canvas>
                  </div>
                </div>
              </div>
            </div>

            <!-- Pie Chart -->
            <div class="col-xl-4 col-lg-5">
              <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">People state</h6>
                  <div class="dropdown no-arrow">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                      <div class="dropdown-header">Dropdown Header:</div>
                      <a class="dropdown-item" href="#">Action</a>
                      <a class="dropdown-item" href="#">Another action</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                  </div>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                  <div class="wrapper">
                    <div id="myDiv4" style="height: 320px;"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <div class="wrapper">

        <!--<div id="tester"></div> -->
        
        <div class="row">        
          <div id="myDiv" class="col-lg-4"></div>
          <div id="myDiv2" class="col-lg-4"></div>
          <div id="myDiv3" class="col-lg-4"></div>
        </div>

        <script>
          function getData(){
            return Math.random();
          }
          TESTER = document.getElementById('tester');
          Plotly.plot('tester',[{
            y:[getData()],
            type:'line'
          }])
    
          setInterval(function() {
            Plotly.extendTraces('tester', { y: [[getData()]] }, [0])
          }, 200);
        </script>

        <script id="DataSusceptible">
          {{susceptible}}
        </script>
        <script id="DataInfected">
          {{infected}}
        </script>
        <script id="DataRecovered">
          {{recovered}}
        </script>
        <script id="xTest">
          {{x_pos}}
        </script>

        <script id="xSusceptibleCat">
          {{susceptible_cat}}
        </script>
        <script id="xInfectedCat">
          {{infected_cat}}
        </script>
        <script id="xRemovedCat">
          {{recovered_cat}}
        </script>

        <script id="graficos">
          //var susceptibleData =[15,11, 9,8,7,15,16,23,40,77,100];
          //var infectedData =[0,4,6,5,2,15,16,23,40,77,100];
          //var removedData =[0,0,0,1,5,5,16,23,40,77,100];
          var xTestC=JSON.parse('{"test":'+document.getElementById("xTest").innerHTML+'}');
          xTestC = xTestC['test'];
          console.log("hola" +document.getElementById("xSusceptibleCat").innerHTML);
          var xSusceptibleC=JSON.parse('{"test":'+document.getElementById("xSusceptibleCat").innerHTML+'}');
          xSusceptibleC = xSusceptibleC['test'];
          var xInfectedC=JSON.parse('{"test":'+document.getElementById("xInfectedCat").innerHTML+'}');
          xInfectedC = xInfectedC['test'];
          var xRemovedC=JSON.parse('{"test":'+document.getElementById("xRemovedCat").innerHTML+'}');
          xRemovedC = xRemovedC['test'];
          var susceptibleData = JSON.parse('{"test":'+document.getElementById("DataSusceptible").innerHTML+'}');
          susceptibleData=susceptibleData['test']
          var infectedData = JSON.parse('{"test":'+document.getElementById("DataInfected").innerHTML+'}');
          infectedData=infectedData['test']
          var removedData = JSON.parse('{"test":'+document.getElementById("DataRecovered").innerHTML+'}');
          removedData=removedData['test']
          var inputData = document.getElementById("JSONData").innerHTML;
          var n = 20;
          var x = [], y = [], z = [],xx=[],yy=[];
          var susceptibleAndX = [], susceptibleAndY=[], infectedAndX =[], infectedAndY=[], removedAndX = [], removedAndY=[];
          var susceptibleCatX = [], susceptibleCatY=[], infectedCatX =[], infectedCatY=[], removedCatX = [], removedCatY=[];
          var susceptible=0,infected=0,removed=0;
          var dt = 0.015;
    
          for (i = 0; i < n; i++) {
            x[i] = Math.random() * 2 - 1;
            y[i] = Math.random() * 2 - 1;
            z[i] = 30 + Math.random() * 10;
            xx[i] = 0;
            yy[i] = 0;
            susceptibleAndX[i] = 0;
            susceptibleAndY[i] = 0;
            infectedAndX[i] = 0;
            infectedAndY[i] = 0;
            removedAndX[i] = 0;
            removedAndY[i] = 0;
            susceptibleCatX[i] = 0;
            susceptibleCatY[i] = 0;
            infectedCatX[i] = 0;
            infectedCatY[i] = 0;
            removedCatX[i] = 0;
            removedCatY[i] = 0;
            susceptible = 0;
            infected = 0;
            removed= 0;
          }
          Plotly.newPlot('myDiv', [{
            x: susceptibleAndX,
            y: susceptibleAndY,
            name : 'Infected',
            mode: 'markers',
            marker: {
              color: 'rgb(250,128,114)',
              size: 7,
              line: {
                color: 'rgb(0, 0, 0)',
                width: 2
              }
            },
          },
          {
            x: x,
            y: [2],
            name : 'Susceptible',
            mode: 'markers',
            marker: {
              color: 'rgb(81, 193, 46)',
              size: 7,
              line: {
                color: 'rgb(0, 0, 0)',
                width: 2
              }
            },
          },
          {
            x: x,
            y: [2],
            mode: 'markers',
            name : 'Removed',
            marker: {
              color: 'rgb(25, 25, 25)',
              size: 7,
              line: {
                color: 'rgb(0, 0, 0)',
                width: 2
              }
            },
          },], {
            xaxis: {range: [0, 50]},
            yaxis: {range: [-20, 60]},
            title: {
                text:'Valencia',
                font: {
                  family: 'Courier New, monospace',
                  size: 24
              },
            },
            plot_bgcolor : 'rgba(41, 241, 195, 1)',
          })
          /*Plotly.newPlot('myDiv', [{
            x: x,
            y: z,
            mode: 'markers'
          }], {
            xaxis: {range: [-40, 40]},
            yaxis: {range: [0, 60]},
            title: {
                text:'Valencia',
                font: {
                  family: 'Courier New, monospace',
                  size: 24
              },
              }
          })*/

          Plotly.newPlot('myDiv2', [{
            x: susceptibleAndX,
            y: susceptibleAndY,
            name : 'Infected',
            mode: 'markers',
            marker: {
              color: 'rgb(250,128,114)',
              size: 7,
              line: {
                color: 'rgb(0, 0, 0)',
                width: 2
              }
            },
          },
          {
            x: x,
            y: [2],
            name : 'Susceptible',
            mode: 'markers',
            marker: {
              color: 'rgb(81, 193, 46)',
              size: 7,
              line: {
                color: 'rgb(0, 0, 0)',
                width: 2
              }
            },
          },
          {
            x: x,
            y: [2],
            mode: 'markers',
            name : 'Removed',
            marker: {
              color: 'rgb(25, 25, 25)',
              size: 7,
              line: {
                color: 'rgb(0, 0, 0)',
                width: 2
              }
            },
          },], {
            xaxis: {range: [-40, 40]},
            yaxis: {range: [0, 60]},
            title: {
                text:'Catalunya',
                font: {
                  family: 'Courier New, monospace',
                  size: 24
              },
            },
            plot_bgcolor : 'rgba(41, 241, 195, 1)',
          })
          
          Plotly.newPlot('myDiv3', [{
            x: susceptibleAndX,
            y: susceptibleAndY,
            name : 'Infected',
            mode: 'markers',
            marker: {
              color: 'rgb(250,128,114)',
              size: 7,
              line: {
                color: 'rgb(0, 0, 0)',
                width: 2
              }
            },
          },
          {
            x: x,
            y: [2],
            name : 'Susceptible',
            mode: 'markers',
            marker: {
              color: 'rgb(81, 193, 46)',
              size: 7,
              line: {
                color: 'rgb(0, 0, 0)',
                width: 2
              }
            },
          },
          {
            x: x,
            y: [2],
            mode: 'markers',
            name : 'Removed',
            marker: {
              color: 'rgb(25, 25, 25)',
              size: 7,
              line: {
                color: 'rgb(0, 0, 0)',
                width: 2
              }
            },
          },], {
            xaxis: {range: [-40, 40]},
            yaxis: {range: [0, 60]},
            title: {
                text:'Andalucía',
                font: {
                  family: 'Courier New, monospace',
                  size: 24
              },
            },
            plot_bgcolor : 'rgba(41, 241, 195, 1)',
          })

          var data = [
            {
              x: ['Susceptible', 'Infected', 'Removed'],
              y: [700, 700,700],
              type: 'bar',
              marker: {
                color: 'rgb(150,150,150)'
              }
            }
          ];
          var layout = {
            title: 'SIR Data',
            showlegend: false};

          Plotly.newPlot('myDiv4', data, layout, {displayModeBar: false});
          function computeV2(iter){   
            for(var i = 0; i < n; i++){
              xx[i] = xTestC[i][iter];
              console.log(xTestC[i][iter]);
              yy[i] = xTestC[i][iter];
              susceptibleAndX = [Math.random()*25*(Math.round(Math.random()) * 2 - 1),Math.random()*25*(Math.round(Math.random()) * 2 - 1),Math.random()*25*(Math.round(Math.random()) * 2 - 1),Math.random()*25*(Math.round(Math.random()) * 2 - 1),Math.random()*25*(Math.round(Math.random()) * 2 - 1),Math.random()*25*(Math.round(Math.random()) * 2 - 1),Math.random()*25*(Math.round(Math.random()) * 2 - 1),Math.random()*25*(Math.round(Math.random()) * 2 - 1),Math.random()*25*(Math.round(Math.random()) * 2 - 1),Math.random()*25*(Math.round(Math.random()) * 2 - 1),Math.random()*25*(Math.round(Math.random()) * 2 - 1),Math.random()*25*(Math.round(Math.random()) * 2 - 1)];
              susceptibleAndY = [Math.random()*40,Math.random()*40,Math.random()*40,Math.random()*40,Math.random()*40,Math.random()*40,Math.random()*40,Math.random()*40,Math.random()*40,Math.random()*40,Math.random()*40,Math.random()*40,Math.random()*40,Math.random()*40,Math.random()*40,Math.random()*40,Math.random()*40,Math.random()*40,Math.random()*40,Math.random()*40,Math.random()*40,Math.random()*40,Math.random()*40,Math.random()*40,Math.random()*40,Math.random()*40,Math.random()*40,Math.random()*40,Math.random()*40,Math.random()*40,Math.random()*40,Math.random()*40,Math.random()*40,Math.random()*40,Math.random()*40,Math.random()*40,Math.random()*40];
              infectedAndX = [Math.random()*25*(Math.round(Math.random()) * 2 - 1),Math.random()*25*(Math.round(Math.random()) * 2 - 1)];
              infectedAndY = [Math.random()*40,Math.random()*40];
              removedAndX = [Math.random()*25*(Math.round(Math.random()) * 2 - 1),Math.random()*25*(Math.round(Math.random()) * 2 - 1)];
              removedAndY = [Math.random()*40,Math.random()*40];
              //susceptibleCatX = [Math.random()*25*(Math.round(Math.random()) * 2 - 1),Math.random()*25*(Math.round(Math.random()) * 2 - 1),Math.random()*25*(Math.round(Math.random()) * 2 - 1),Math.random()*25*(Math.round(Math.random()) * 2 - 1),Math.random()*25*(Math.round(Math.random()) * 2 - 1),Math.random()*25*(Math.round(Math.random()) * 2 - 1),Math.random()*25*(Math.round(Math.random()) * 2 - 1),Math.random()*25*(Math.round(Math.random()) * 2 - 1),Math.random()*25*(Math.round(Math.random()) * 2 - 1),Math.random()*25*(Math.round(Math.random()) * 2 - 1),Math.random()*25*(Math.round(Math.random()) * 2 - 1),Math.random()*25*(Math.round(Math.random()) * 2 - 1)];
              susceptibleCatY = [Math.random()*40,Math.random()*40,Math.random()*40,Math.random()*40,Math.random()*40,Math.random()*40,Math.random()*40,Math.random()*40,Math.random()*40,Math.random()*40,Math.random()*40,Math.random()*40,Math.random()*40,Math.random()*40,Math.random()*40,Math.random()*40,Math.random()*40,Math.random()*40,Math.random()*40,Math.random()*40,Math.random()*40,Math.random()*40,Math.random()*40,Math.random()*40,Math.random()*40,Math.random()*40,Math.random()*40,Math.random()*40,Math.random()*40,Math.random()*40,Math.random()*40,Math.random()*40,Math.random()*40,Math.random()*40,Math.random()*40,Math.random()*40,Math.random()*40];
              //infectedCatX = [Math.random()*25*(Math.round(Math.random()) * 2 - 1),Math.random()*25*(Math.round(Math.random()) * 2 - 1)];
              infectedCatY = [Math.random()*40,Math.random()*40];
              //removedCatX = [Math.random()*25*(Math.round(Math.random()) * 2 - 1),Math.random()*25*(Math.round(Math.random()) * 2 - 1)];
              removedCatY = [Math.random()*40,Math.random()*40];
              susceptible = susceptibleData[iter];
              infected = infectedData[iter];
              removed = removedData[iter];
            }
            for(var i=0;i<xSusceptibleC.length;i++){
              susceptibleCatX[i] = xSusceptibleC[iter][i];
            }   
            for(var i=0;i<xInfectedC.length;i++){
              infectedCatX[i] = xInfectedC[iter][i];
            }
            for(var i=0;i<xRemovedC.length;i++){
              removedCatX[i] = xRemovedC[iter][i];
            }
            var data_update = {
                'marker.color': 'red'
            };
            var testColor = ['rgba(200,200,200,1)','rgba(66,66,66,1)','rgba(150,150,150,1)']
            var layout_update = {
                //plot_bgcolor: testColor[1], // updates the title
                title : 'Valencia day: '+iter,
            };
            var layout_update2 = {
                //plot_bgcolor: testColor[1], // updates the title
                title : 'Catalunya day: '+iter,
            };
            var layout_update3 = {
                //plot_bgcolor: testColor[1], // updates the title
                title : 'Andalucia day: '+iter,
            };
            Plotly.update('myDiv', data_update, layout_update,0);
            Plotly.update('myDiv2', data_update, layout_update2,0);
            Plotly.update('myDiv3', data_update, layout_update3,0);
          }

          function readJSON(json){
            var myObj = JSON.parse(json);
            puntosX = myObj['regions']['cat']['population']['x'];
            puntosY = myObj['regions']['cat']['population']['y'];
            susceptibleData = susceptibleData;
            infectedData = infectedData;
            removedData = removedData;
            console.log(JSON.stringify(infectedData));
          }
    
          readJSON(inputData);
          var t = 0;
          var iter = 0;
          function update () {
            computeV2(iter);
            iter = iter+1;
            if(iter == 100){
              iter = 0;
            }
            Plotly.animate('myDiv', {
              data: [{x: xx, y: yy}]
            }, {
              transition: {
                duration: 0
              },
              frame: {
                duration: 120,
                redraw: false
              },

            });
            Plotly.animate('myDiv2', {
              data: [{x: susceptibleCatX, y: susceptibleCatY},{x:infectedCatX,y:infectedCatY}, {x: removedCatX, y: removedCatY}]
            }, {
              transition: {
                duration: 0
              },
              frame: {
                duration: 120,
                redraw: false
              }
            });
            Plotly.animate('myDiv3', {
              data: [{x: susceptibleAndX, y: susceptibleAndY},{x:infectedAndX,y:infectedAndY}, {x: removedAndX, y: removedAndY}]
            }, {
              transition: {
                duration: 0
              },
              frame: {
                duration: 120,
                redraw: false
              }
            });
            Plotly.animate('myDiv4', {
              data: [{y: [susceptible, infected, removed]}]
            }, {
              transition: {
                duration: 0
              },
              frame: {
                duration: 500,
                redraw: false
              }
            });
            requestAnimationFrame(update);
          }
    
          requestAnimationFrame(update);
        </script>
      </div>
      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; Your Website 2019</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>


  <!-- Core plugin JavaScript-->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="js/sb-admin-2.min.js"></script>

  <!-- Page level plugins -->
  <script src="chart.js/Chart.min.js"></script>

  <!-- Page level custom scripts -->
  <script src="js/demo/chart-area-demo.js"></script>
  <script src="js/demo/chart-pie-demo.js"></script>

</body>

</html>
